In [48]:
import numpy
from pandas import DataFrame, Series

def numpy_dot():
    '''
    Imagine a point system in which each country is awarded 4 points for each
    gold medal,  2 points for each silver medal, and one point for each 
    bronze medal.  

    Using the numpy.dot function, create a new dataframe called 
    'olympic_points_df' that includes:
        a) a column called 'country_name' with the country name
        b) a column called 'points' with the total number of points the country
           earned at the Sochi olympics.
           
    You do not need to call the function in your code when running it in the
    browser - the grader will do that automatically when you submit or test it.
    '''

    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
 
    # YOUR CODE HERE
    scoreStandard = [4, 2, 1]

    dataFrame = DataFrame({
        'country_name': countries,
        'gold': gold,
        'silver': silver,
        'bronze': bronze
    })
    
    dataFrame['points'] = dataFrame[['gold', 'silver', 'bronze']].dot([4, 2, 1])
    olympic_points_df = dataFrame[['country_name', 'points']]
    
    return olympic_points_df

numpy_dot()

    bronze    country_name  gold  silver  points
0        9    Russian Fed.    13      11      83
1       10          Norway    11       5      64
2        5          Canada    10      10      65
3       12   United States     9       7      62
4        9     Netherlands     8       7      55
5        5         Germany     8       6      49
6        2     Switzerland     6       3      32
7        1         Belarus     5       0      21
8        5         Austria     4       8      37
9        7          France     4       4      31
10       1          Poland     4       1      19
11       2           China     3       4      22
12       2           Korea     3       3      20
13       6          Sweden     2       7      28
14       2  Czech Republic     2       4      18
15       4        Slovenia     2       2      16
16       3           Japan     1       4      15
17       1         Finland     1       3      11
18       2   Great Britain     1       1       8
19       1         Ukraine     1       0       5
20       0        Slovakia     1       0       4
21       6           Italy     0       2      10
22       2          Latvia     0       2       6
23       1       Australia     0       2       5
24       0         Croatia     0       1       2
25       1      Kazakhstan     0       0       1

      country_name  points
0     Russian Fed.      83
1           Norway      64
2           Canada      65
3    United States      62
4      Netherlands      55
5          Germany      49
6      Switzerland      32
7          Belarus      21
8          Austria      37
9           France      31
10          Poland      19
11           China      22
12           Korea      20
13          Sweden      28
14  Czech Republic      18
15        Slovenia      16
16           Japan      15
17         Finland      11
18   Great Britain       8
19         Ukraine       5
20        Slovakia       4
21           Italy      10
22          Latvia       6
23       Australia       5
24         Croatia       2
25      Kazakhstan       1