In [1]:
import pandas as pd
import numpy as np

# 本章内容将介绍常用的 numpy 方法.
# 同时将结合使用 pandas 进行演示.

# 载入数据.
data = pd.read_csv('data-set-for-playground.csv')
print data

      Area  Value  Room  Living  School  Year  Floor
0      128    370     3       1       1  2004     21
1       68    330     1       2       1  2000      6
2      125    355     3       2       0  2003      5
3      129    278     2       2       0  2005     16
4      118    340     3       2       0  2003      6
5       58    300     1       1       0  2003     22
6      104    208     3       1       0  2001      6
7      198    380     3       2       0  2005      7
8       98    530     3       1       1  1990     12
9       97    465     2       1       1  1990     10
10     166   1220     3       2       1  2005     15
11      71    240     1       1       0  2008     25
12      51    175     2       1       0  2012     16
13      93    560     2       2       0  2010     26
14      54    280     2       1       1  1982     20
15      72    258     1       2       0  1999     30
16      56    190     2       1       1  1988      6
17      58    190     2       1       0  1995      6
18     111    300     2       2       1  1999     25
19      51    195     2       1       0  1986      6
20      57    178     2       1       1  1995      6
21      56    200     1       1       0  2003     15
22      98    360     3       1       1  1996      6
23     120    410     2       2       1  1998     30
24      82    215     2       1       1  1996      6
25     100    300     2       1       1  2005     20
26     150    375     3       2       1  2003     20
27      85    530     2       2       1  2005     16
28      89    170     3       2       0  2009     18
29      85    350     2       1       1  2000     12
...    ...    ...   ...     ...     ...   ...    ...
9969    58    125     2       1       1  2000      6
9970    96    400     2       1       1  2005      6
9971   136    398     3       2       1  1999      6
9972    67    320     2       1       1  1986     15
9973    41    120     1       1       0  2007     26
9974    72    153     2       1       1  1997      6
9975    55    260     2       1       0  1994      6
9976    62    170     2       1       1  1993      6
9977    80    320     3       2       0  2012     16
9978   153    490     3       2       1  2003     15
9979    88    340     2       1       1  2000     24
9980    91    410     2       1       0  2003     19
9981    94    255     3       1       0  1995      6
9982    63    226     2       1       0  1989     17
9983    76    235     2       1       1  2005     11
9984   102    290     2       1       1  2004     16
9985   220    800     4       2       1  2006      3
9986   262   1250     5       2       1  2006     11
9987   174    240     4       2       1  1995      7
9988    89    288     3       1       1  1996      6
9989    76    560     3       1       1  1982      6
9990    99    335     3       1       0  1992     15
9991    99    395     2       2       1  2001     11
9992   100    350     2       2       1  2007      6
9993    41    228     1       1       0  1990     18
9994    73    293     3       1       1  1988     14
9995    34    124     1       0       0  2000     24
9996    61    240     2       1       0  1986     16
9997    87    350     3       1       1  1960      5
9998    54    180     2       1       1  1986      6

[9999 rows x 7 columns]

In [13]:
# 定义 price 为以上数据的 value 值.
price = data['Value']

# 最小值.
min = np.min(price)
print 'Min:', min

# 最大值.
max = np.max(price)
print 'Max:', max

# 平均值.
mean = np.mean(price)
print "Mean:", mean

# 中位数.
median = np.median(price)
print "Median:", median

# 标准差.
std = np.std(price)
print "Standard Deviation:", std

Min: 66
Max: 7450
Mean: 342.076207621
Median: 280.0
Standard Deviation: 259.393056323